.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_store


.venv

build/
__pycache__/
sdist/
wheels/
.pytest_cache/
dist/
*.egg-info/
*.egg



# config.py will hold keys
config.py


# notebook checkpoints
.ipynb_checkpoints


#Large data set - too big for GitHub
datasets/combined_ridership.csv
